body {
  font-family: Arial;
}

table {
  width: 100%;
}

td.col1 {
  width: 30%;
}

td.col2 {
  width: 50%;
}

td.col3 {
  width: 18%;
}

td.col4 {
  width: 2%;
  text-align: right;
}

th.col1 {
  text-align: left;
}

th.col2 {
  text-align: left;
}

th.col3 {
  text-align: left;
}

th.col4 {
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}

p.msgheader {
  font-family: monospace;
  font-size: 10pt;
}

p.msgbody {
  font-family: Arial;
  font-size: 12pt;
}

p.error {
  color: red;
  font-size: 12pt;
}

p.nomessages {
  color: gray;
  font-size: 16pt;
}

img.floatright {
  float: right;
}
